.Home .lander {
  padding: 190px 0;
  text-align: center;
}

.Home .lander h1 {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Impact";
  font-weight: 650;
  font-size: 1000%;
  color: rgba(252, 55, 55, 0.925);
}

.Home .lander p {
}
